<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view problem_services uses ViewContent::TemplateContent %>
	
	<% template create_problem_form() %>
			<legend>Crear problema</legend>
			<form id="create_problem_form">
				<input id="create_problem_description" placeholder="Descripción del problema" type="text" /><br />
				<textarea id="create_problem_content"></textarea><br />
				<input class="btn" type="submit" value="Crear problema" />
			</form>
			<script>
				CKEDITOR.replace(create_problem_content, {
					customConfig: '',
					extraPlugins: 'bbcode',
					fontSize_sizes: "10/100%; 12/120%; 14/140%; 16/160%; 18/180%; 20/200%",
					language: 'es',
					removePlugins: 'elementspath, colordialog',
					resize_enabled: false,
					skin: 'moono-dark',
					toolbar: [
						[ 'Undo', '-', 'Redo' ],
						[ 'FontSize' ],
						[ 'Bold', 'Italic', 'Underline', '-', 'TextColor' ],
						[ 'RemoveFormat' ],
						[ 'Link', '-', 'Unlink' ],
						[ 'NumberedList', 'BulletedList', '-', 'Blockquote' ]
					]
				});
			
				$('#create_problem_form').submit({
					content: $('#create_problem_content'),
					description: $('#create_problem_description')
				}, function(event) {
					event.preventDefault();
					CKEDITOR.instances.create_problem_content.updateElement();
					
					var content = $.trim(event.data.content.val());
					var description = $.trim(event.data.description.val());

					hideAllTooltips();
					var on_invalid_input = onInvalidInputCreateProblem($('#cke_' + CKEDITOR.instances.create_problem_content.name), event.data.description);
					if (validateCreateProblemInput(on_invalid_input, content, description)) {
						var on_success = onSuccessCreateProblem();
						var on_failure = onFailureCreateProblem();
						postCreateProblem(on_success, on_failure, content, description);
					}
				});
			</script>
		<% end template %>
		
		
		<% template edit_problem_form(ProblemPointer problem) %>
			<form id="edit_problem_form">
				<textarea id="edit_problem_content"><%= problem->content %></textarea><br />
				<input class="pull-right btn btn-primary" type="submit" value="Finalizar" />
				<a class="pull-right btn" id="edit_problem_cancel_button">Cancelar</a>
			</form>
			<script>
				logic_memory.problem_bbcode = $('#edit_problem_content').val();
				
				CKEDITOR.replace(edit_problem_content, {
					customConfig: '',
					extraPlugins: 'bbcode',
					fontSize_sizes: "10/100%; 12/120%; 14/140%; 16/160%; 18/180%; 20/200%",
					language: 'es',
					removePlugins: 'elementspath, colordialog',
					resize_enabled: false,
					skin: 'moono-dark',
					toolbar: [
						[ 'Undo', '-', 'Redo' ],
						[ 'FontSize' ],
						[ 'Bold', 'Italic', 'Underline', '-', 'TextColor' ],
						[ 'RemoveFormat' ],
						[ 'Link', '-', 'Unlink' ],
						[ 'NumberedList', 'BulletedList', '-', 'Blockquote' ]
					]
				});
				
				CKEDITOR.instances.edit_problem_content.setData(logic_memory.problem_bbcode);
			
				$('#edit_problem_form').submit({
					content: $('#edit_problem_content')
				}, function(event) {
					event.preventDefault();
					CKEDITOR.instances.edit_problem_content.updateElement();
					
					var content = $.trim(CKEDITOR.instances.edit_problem_content.getData());
					var problem_id = '<%= problem->id %>';

					hideAllTooltips();
					var on_invalid_input = onInvalidInputEditProblem($('#cke_' + CKEDITOR.instances.edit_problem_content.name));
					if (validateEditProblemInput(on_invalid_input, content)) {
						var on_success = onSuccessEditProblem(content);
						var on_failure = onFailureEditProblem();
						postEditProblem(on_success, on_failure, content, problem_id);
					}
				});
				
				$('#edit_problem_cancel_button').click({
					content: $('#edit_problem_content')
				}, function(event) {
					CKEDITOR.instances.edit_problem_content.setData(logic_memory.problem_bbcode);

					$("#problem_edit_button").show();
					$("#problem_problem_content").show();
					$('#edit_problem_form').hide();
					
					hideAllTooltips();
				});
				
			</script>
		<% end template %>
		
		<% template problem_description(ProblemPointer problem) %>
			<div class="problems_problem_description">
				<div class="row-fluid">
					<div class="span2">
						<div class="row-fluid problems_votes"> <!-- Votes & Answers -->
							<div class="span6">
								<div class="number"><%= problem->vote_balance %></div>
								<div>Votos</div>
							</div>
							<div class="span6">
								<div class="number">N/A</div>
								<div>Soluciones</div>
							</div>
						</div>
					</div>
					<div class="span9">
						<div class="row-fluid">				
							<a class="link_description ellipsis" href="<% url "/publication" using problem->id %>">
								<%= problem->description %>
							</a>
							<span class="text_description">
								<% if problem->is_anonymous %>
									<i>Publicado anónimamente</i>
								<% else %>
									<i>Por <a class="link_user_name" href="<% url "/user" using problem->creator_user_name %>"><%= problem->creator_user_name %></a></i>
								<% end %>
								- <%= problem->creation_datetime->toString("%d/%m/%Y a las %H:%M hs.") %>
							</span>
						</div>
					</div>
					<% if problem->is_solved %>
						<div class="span1">
							<div class="tick on"></div>
						</div>
					<% end %>
				</div>				
			</div>
		<% end template %>
		
		<% template vote_problem_form(ProblemPointer problem, int user_vote) %>
			<div class="votes_container">
				<div class="vote_up" id="vote_up">+</div>
				<div class="votes_number" id="votes_number"><%= problem->vote_balance %></div>
				<div class="vote_down" id="vote_down">-</div>
			</div>
			<script>
				logic_memory.user_vote = <%= user_vote %>;
			
				$('#vote_up').click({
					display: $('#votes_number')
				}, function(event) {
					if (logic_memory.user_vote < 1) {
						var problem_id = '<%= problem->id %>';
						
						var on_success = onSuccessVoteProblem(event.data.display, 1);
						var on_failure = onFailureVoteProblem();
						postVoteProblem(on_success, on_failure, true, problem_id);
					}
				});
				
				$('#vote_down').click({
					display: $('#votes_number')
				}, function(event) {
					if (logic_memory.user_vote > -1) {
						var problem_id = '<%= problem->id %>';
						
						var on_success = onSuccessVoteProblem(event.data.display, -1);
						var on_failure = onFailureVoteProblem();
						postVoteProblem(on_success, on_failure, false, problem_id);
					}
				});
				
				function refreshVotesButtonsColors(){
					$('#vote_down').removeClass('on');
					$('#vote_up').removeClass('on');
					if(logic_memory.user_vote == 1){
						$('#vote_up').addClass('on');
						$('#vote_down').removeClass('on');
					}else if(logic_memory.user_vote == -1){
						$('#vote_down').addClass('on');
						$('#vote_up').removeClass('on');		
					}
				};
				
				$(document).ready(refreshVotesButtonsColors());
			</script>
		<% end template %>
		
		
		<% template set_accepted_solution_form(ProblemPointer problem, std::string solution_id) %>
			<a class="tick" id="<%= solution_id %>"></a>
			<script>
				$('#<%= solution_id %>').click(function() {
					var problem_id = '<%= problem->id %>';
					var solution_id = '<%= solution_id %>';
					
					var on_success = onSuccessSetAcceptedSolution($(this), problem_id, solution_id);
					var on_failure = onFailureSetAcceptedSolution();
					postSetAcceptedSolution(on_success, on_failure, problem_id, solution_id);
				});
			</script>
		<% end template %>
		
		
		<% template unset_accepted_solution_form(ProblemPointer problem, std::string accepted_solution_id) %>
			<a class="tick on" id="<%= accepted_solution_id %>"></a>
			<script>
				$('#<%= accepted_solution_id %>').click(function() {
					var problem_id = '<%= problem->id %>';
					var accepted_solution_id = '<%= accepted_solution_id %>';
					
					var on_success = onSuccessUnsetAcceptedSolution($(this), problem_id, accepted_solution_id);
					var on_failure = onFailureUnsetAcceptedSolution();
					postUnsetAcceptedSolution(on_success, on_failure, problem_id);
				});
			</script>
		<% end template %>
		
		<% template toolbar_problem(ProblemPointer problem) %>
			<div id="toolbar_problem_container">
				<a href="<% url "/new_solution" using problem->id %>">
					<div class="btn btn-large btn-block " id="toolbar_problem_new_solution_button">
						Plantear solución
					</div>
				</a>
			</div>
		<% end template %>
		
	<% end view %>
<% end skin %>