
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view template_services uses ViewContent::SessionContent %>
	
	
	<% template header_bar() %>
		<div class="navbar navbar-inverse navbar-fixed-top" id="header-bar">
			<div class="navbar-inner">
				<div class="container-fluid">
					
					<a class="pull-left" href="" id="header-bar-logo"></a>
					
					<% if signed_in %>
						<ul class="nav pull-left">
							<li><a id="notification-button">Notificaciones</a></li>
						</ul>
					<% end %>
					
					<div class="nav-collapse collapse pull-right">
						<ul class="nav">
							<li>
								<form class="navbar-search" action="">
									<input class="search-query span2" placeholder="Buscar" type="text">
								</form>
							</li>
							
							<% if signed_in %>
								<!-- TODO: Falta el boton de modo anonimo -->
								<li><a href="<% url "/user" using user_name %>"><%= first_name %> <%= last_name %></a></li>
								<li><button class="btn" id="sign-out-button">Salir</button></li>
							<% else %>
								<li><button class="btn" id="sign-in-button">Ingresar</button></li>
							<% end %>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<% if signed_in %>
			<div id="notification-container-content">
				<div id="notification-main-container">
					<legend>Notificaciones</legend>
					<div id="notification-container"></div>
				</div>
			</div>
			<script>
				Global.Temp.notification_popover_visible = false;
				$('#notification-button').click(function() {
					$(this).toggleClass('active');
					
					if (Global.Temp.notification_popover_visible)
						Popover.hidePopover($(this));
					else
						Popover.showPopover($(this), $('#header-bar'), 'bottom', $('#notification-container-content').html());
					
					Global.Temp.notification_popover_visible = ! Global.Temp.notification_popover_visible;
				});
				
				Notification.checkNotificationsPeriodically($('#notification-container'));
				
				$('#sign-out-button').click(function() {
					// TODO
				});
			</script>
		<% else %>
			<div id="sign-in-container">
				<!-- TODO -->
			</div>
			<script>
				$('#sign-in-button').click(function() {
					$(this).toggleClass('active');
					$('#sign-in-container').toggle();
				});
			</script>
		<% end %>
	<% end template %>
	
	
	<% template navigation_menu() %>
		<div class="sidebar-nav pull-left" id="navigation_menu">
			<ul class="nav nav-list">
				<li>
					<a class="button_square navigation_menu_button" id="navigation_menu_problems_button" href="<% url "/problems" %>">Problemas</a>
				</li>
				<li>
					<a class="button_square navigation_menu_button" id="navigation_menu_ideas_button" href="<% url "/ideas" %>">Ideas</a>
				</li>
				<% if signed_in %>
					<li>
						<div class="horizontal_line"></div>
					</li>
					<li>
						<a class="button_square navigation_menu_button after_div" id="navigation_menu_profile_button" href="<% url "/user" using user_name %>">Perfil</a>
					</li>
				<% end %>
			</ul>
		</div>
	<% end template %>
	
	
	<% end view %>
<% end skin %>
