
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view error_page_view uses ViewContent::ErrorPageContent extends page_template_view %>
		
		
		<% template page_title() %>
			Error <%= http_error_code %> - PCI
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
			<link href="/css/error.css" rel="stylesheet" type="text/css" />
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<div class="header-bar-padding" id="main-container">
				<div id="error-container">
					<div class="pull-left" id="error-ornament"></div>
					<div class="pull-left" id="error-description-container">
						<h1>Error <%= http_error_code %></h1>
						<p class="lead" id="error-description"></p>
						<br />
						<p class="muted">¿Desea volver a la <a href="<% url "/" %>">página inicial</a>?</p>
					</div>
				</div>
			</div>
		<% end template %>
		
		
		<% template js_body_code() %>
			var error_description = Server.Error.getErrorDescription('<%= server_error_code %>');
			$('#error-description').html(error_description);
			Ornament.appendErrorOrnament($('#error-ornament'));
		<% end template %>
		
		
	<% end view %>
<% end skin %>
