
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view ideas_page_view uses ViewContent::SessionContent extends page_template_view %>
		
		
		<% template main_content() %>
			<div class="main-container narrow">
				<div class="main-container-padding">
					Ideas content (temporal)
				</div>
			</div>
		<% end template %>
		
		
		<% template page_title() %>
			Ideas - PCI
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<% include navigation_menu() using template_view %>
			<% include main_content() %>
		<% end template %>
		
		
		<% template js_body_code() %>
			$('#ideas-button').addClass('active');
		<% end template %>
		
		
	<% end view %>
<% end skin %>
