
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view main_page_view uses ViewContent::SessionContent extends page_template_view %>
		
		
		<% template main_content() %>
			<div class="main-container narrow">
				<div class="main-container-padding">
					<div class="sign-up-form-container pull-right">
						<legend>Regístrate</legend>
						<% include sign_up_form() using forms_view %>
					</div>
				</div>
			</div>
		<% end template %>
		
		
		<% template page_title() %>
			PCI - Plataforma Comunitaria de Ideas
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
			<link href="/css/main.css" rel="stylesheet" type="text/css" />
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<% include main_content() %>
		<% end template %>
		
		
	<% end view %>
<% end skin %>
