
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view new_problem_page_view uses ViewContent::SessionContent extends page_template_view %>
		
		
		<% template main_content() %>
			<div class="main-container narrow header-bar-padding">
				<legend>Nuevo problema</legend>
				<% include publicate_problem_form() using forms_view %>
			</div>
		<% end template %>
		
		
		<% template page_title() %>
			Nuevo problema - PCI
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
			<script src="/lib/ckeditor/ckeditor.js"></script>
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<% include navigation_menu() using template_view %>
			<% include main_content() %>
		<% end template %>
		
		
	<% end view %>
<% end skin %>
