
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view new_solution_page_view uses ViewContent::NewSolutionPageContent extends page_template_view %>
		
		
		<% template page_title() %>
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
			<script src="/lib/ckeditor/ckeditor.js"></script>
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<% include navigation_menu() using template_view %>
			<div class="narrow header-bar-padding" id="main-container">
				<legend>Nueva solución</legend>
				<% include publicate_solution_form() using forms_view %>
			</div>
		<% end template %>
		
		
		<% template js_body_code() %>
		<% end template %>
		
		
	<% end view %>
<% end skin %>
