
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view solution_view uses ViewContent::SolutionContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/solution.css" rel="stylesheet" type="text/css" />
		<% end template %>
		
		
		<% template javascript_code() %>
			<% include template_view::javascript_code() %>
			<script>
				$(document).ready(function() {
					var html_code = XBBCODE.process({
						text: $('#solution_solution_content').html(),
						addInLineBreaks: true
					}).html;
					
					$('#solution_solution_content').empty();
					$('#solution_solution_content').append(html_code);
				});
			</script>
		<% end template %>	
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<% include template_view::navigation_menu() %>
			<div class="main-container">
				<div class="header-padding">
					<% include toolbar_solution(solution) using solution_services %>
					<div class="horizontal_line"></div>
					<div id="solution_header_container">
						<h2>
							<%= solution->description %>
						</h2>
					</div>
					<div class="box_content" id="solution_solution_content">
						<%= solution->content %>
					</div>
					<% include clarifications_descriptions(clarifications, solution) using clarification_services %>
				</div>
			</div>
		<% end template %>
	
	
	<% end view %>
<% end skin %>
