
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view user_page_view uses ViewContent::UserPageContent extends page_template_view %>
		
		
		<% template page_title() %>
		<% end template %>
		
		
		<% template head_content() %>
			<% include page_template_view::head_content() %>
		<% end template %>
		
		
		<% template body_content() %>
			<% include header_bar() using template_view %>
			<% include navigation_menu() using template_view %>
			<div class="narrow header-bar-padding" id="main-container">
				User
			</div>
		<% end template %>
		
		
		<% template js_body_code() %>
			$('#profile-button').addClass('active');
		<% end template %>
		
		
	<% end view %>
<% end skin %>
