
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view debug_view uses ViewContent::TemplateContent %>
		
		<% template pci_logo() %>
			<a href="<% url "" %>">
				<div class="pci_logo"></div>
			</a>
		<% end template %>
		
		<% template button(String label, String url, String classes, String id) %>
			<a href="<%= url %>">
				<div class="<%= classes %>" id="<%= id %>">
					<%= label %>
				</div>
			</a>
		<% end template %>
		
		<% template form_sign_in() %>
		<% end template %>
		
		<% template header_bar() %>
			<div class="container_header_bar">
				<div class="container_header_bar_central">
					<div class="container_header_bar_left">
						<% include pci_logo() %>
					</div>
					<div class="container_header_bar_right">
					 	<% if user_signed_in %>
					 		<% include button("Salir", "javascript:void(0)", "button_header_bar", "button_sign_out") %>
					 		<div id="pci_header_bar_user_name_container">
								<a href="<% url "/user" using user_name %>">
						 			<span id="pci_header_bar_user_name">
						 				<%= user_first_name %> <%= user_last_name %>
						 			</span>
					 			</a>
				 			</div>
						<% else %>
							<% include button("Ingresar", "javascript:void(0)", "button_header_bar", "button_toggle_sign_in") %>
							<div id="container_header_bar_sign_in">
								<% include form_sign_in() %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end template %>
		
		<% template render() %>
			
			
			
			
<!DOCTYPE html>
<html>
	<head>
		<link href="/css/Debug.css" rel="stylesheet" type="text/css" />
		<script src="/js/logic.js"></script>
		<script src="/lib/jquery/jquery-1.9.0.min.js"></script>
		<script>
			$(document).ready(function() {
				
				// TODO: always remember to trim the string obtain from fields
				
				$('#sign_in_submit').click({
					password: $('#sign_in_password'),
					user_name: $('#sign_in_user_name')
				}, function(event) {
					var password = event.data.password.val();
					var user_name = event.data.user_name.val();
					
					var onInvalidInput = onInvalidInputSignIn(event.data.password, event.data.user_name);
					if (validateSignInInput(onInvalidInput, password, user_name))
						postSignIn(onSuccessSignIn(), onFailureSignIn(), password, user_name);
				});
				
				$('#sign_out_submit').click(function() {
					postSignOut(onSuccessSignOut(), onFailureSignOut());
				});
				
				$('#create_user_submit').click({
					birth_date: $('#create_user_birth_date'),
					email: $('#create_user_email'),
					first_name: $('#create_user_first_name'),
					genre: $('#create_user_genre'),
					last_name: $('#create_user_last_name'),
					location: $('#create_user_location'),
					password: $('#create_user_password'),
					user_name: $('#create_user_user_name')
				}, function(event) {
					var birth_date = event.data.birth_date.val();
					var email = event.data.email.val();
					var first_name = $.trim(event.data.first_name.val());
					var genre = event.data.genre.val();
					var last_name = $.trim(event.data.last_name.val());
					var location = $.trim(event.data.location.val());
					var password = event.data.password.val();
					var user_name = event.data.user_name.val();
					
					var onInvalidInput = onInvalidInputCreateUser(event.data.email, event.data.first_name, event.data.last_name, event.data.location, event.data.password, event.data.user_name);
					if (validateCreateUserInput(onInvalidInput, email, first_name, last_name, location, password, user_name))
						postCreateUser(onSuccessCreateUser(), onFailureCreateUser(), birth_date, email, first_name, genre, last_name, location, password, user_name);
				});
				
				$('#delete_user_submit').click({
					user_name: $('#delete_user_user_name')
				}, function(event) {
					var user_name = event.data.user_name.val();
					postDeleteUser(onSuccessDeleteUser(), onFailureDeleteUser(), user_name);
				});
				
				$('#delete_problem_submit').click({
					problem_id: $('#delete_problem_problem_id')
				}, function(event) {
					var problem_id = event.data.problem_id.val();
					postDeleteProblem(onSuccessDeleteProblem(), onFailureDeleteProblem(), problem_id);
				});
				
				$('#delete_solution_submit').click({
					solution_id: $('#delete_solution_solution_id')
				}, function(event) {
					var solution_id = event.data.solution_id.val();
					postDeleteSolution(onSuccessDeleteSolution(), onFailureDeleteSolution(), solution_id);
				});
				
				$('#delete_clarification_submit').click({
					clarification_id: $('#delete_clarification_clarification_id')
				}, function(event) {
					var clarification_id = event.data.clarification_id.val();
					postDeleteClarification(onSuccessDeleteClarification(), onFailureDeleteClarification(), clarification_id);
				});
				
			});
		</script>
	</head>
	<body>
		<h2>Sign in</h2>
		<label for="sign_in_user_name">user_name</label><input id="sign_in_user_name" type="text"><br />
		<label for="sign_in_password">password</label><input id="sign_in_password" type="password"><br />
		<input id="sign_in_submit" type="submit" value="Sign in" />
		<div class="pci_horizontal_line"></div>
		
		<h2>Sign out</h2>
		<input id="sign_out_submit" type="submit" value="Sign out" /><div class="pci_horizontal_line"></div>
		
		<h2>Create user</h2>
		<label for="create_user_birth_date">birth_date</label><input id="create_user_birth_date" type="text"><br />
		<label for="create_user_email">email</label><input id="create_user_email" type="text"><br />
		<label for="create_user_first_name">first_name</label><input id="create_user_first_name" type="text"><br />
		<label for="create_user_genre">genre</label><input id="create_user_genre" type="text"><br />
		<label for="create_user_last_name">last_name</label><input id="create_user_last_name" type="text"><br />
		<label for="create_user_location">location</label><input id="create_user_location" type="text"><br />
		<label for="create_user_password">password</label><input id="create_user_password" type="password"><br />
		<label for="create_user_user_name">user_name</label><input id="create_user_user_name" type="text"><br />
		<input id="create_user_submit" type="submit" value="Create user" />
		<div class="pci_horizontal_line"></div>
		
		<h2>Delete user</h2>
		<label for="delete_user_user_name">user_name</label><input id="delete_user_user_name" type="text"><br />
		<input id="delete_user_submit" type="submit" value="Delete user" />
		<div class="pci_horizontal_line"></div>
		
		<h2>Delete problem</h2>
		<label for="delete_problem_problem_id">problem_id</label><input id="delete_problem_problem_id" type="text"><br />
		<input id="delete_problem_submit" type="submit" value="Delete problem" />
		<div class="pci_horizontal_line"></div>
		
		<h2>Delete solution</h2>
		<label for="delete_solution_solution_id">solution_id</label><input id="delete_solution_solution_id" type="text"><br />
		<input id="delete_solution_submit" type="submit" value="Delete solution" />
		<div class="pci_horizontal_line"></div>
		
		<h2>Delete clarification</h2>
		<label for="delete_clarification_clarification_id">clarification_id</label><input id="delete_clarification_clarification_id" type="text"><br />
		<input id="delete_clarification_submit" type="submit" value="Delete clarification" />
		<div class="pci_horizontal_line"></div>
	</body>
</html>





		<% end template %>
	<% end view %>
<% end skin %>
