
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view index_view uses ViewContent::IndexContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/index.css" rel="stylesheet" type="text/css" />
		<% end template %>
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<div id="pci_index_main_container">
			
				<a href="<% url "/problems" %>" ><h2>Problemas</h2></a>
				Comienzo content
				<br />
				<br />
				<br />
				Index content
				<br />
				<br />
				<br />
			</div>
			<% include template_view::information_footer() %>
		<% end template %>
	
	
	<% end view %>
<% end skin %>
