
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view index_view uses ViewContent::IndexContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/index.css" rel="stylesheet" type="text/css" />
			<link href="/lib/jquery-ui/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css" />
		<% end template %>
		
		
		<% template js_links() %>
			<% include template_view::js_links() %>
			<script src="/js/sign_up.js"></script>
			<script src="/lib/jquery-ui/jquery-ui-1.10.0.custom.min.js"></script>
		<% end template %>
		
	
		<% template javascript_code() %>
			<% include template_view::javascript_code() %>
			<script>
			$(document).ready(function() {
				configureValidator([
					{ elementId: 'pci_sign_up_textfield_first_name', onChangeFunction: firstNameOnChange },
					{ elementId: 'pci_sign_up_textfield_last_name', onChangeFunction: lastNameOnChange },
					{ elementId: 'pci_sign_up_textfield_user_name', onChangeFunction: userNameOnChange },
					{ elementId: 'pci_sign_up_textfield_email', onChangeFunction: emailOnChange },
					{ elementId: 'pci_sign_up_textfield_password', onChangeFunction: passwordOnChange },
					{ elementId: 'pci_sign_up_textfield_password_verification', onChangeFunction: passwordVerificationOnChange },
					{ elementId: 'pci_sign_up_dropdownlist_genre', onChangeFunction: genreOnChange }
				]);
				
				configureTextfield('pci_sign_up_textfield_first_name');
				configureTextfield('pci_sign_up_textfield_last_name');
				configureTextfield('pci_sign_up_textfield_user_name');
				configureTextfield('pci_sign_up_textfield_email');
				configurePasswordfield('pci_sign_up_textfield_password');
				configurePasswordfield('pci_sign_up_textfield_password_verification');
				configureDatepicker('pci_sign_up_textfield_birth_date');
				configureDropdownlist('pci_sign_up_dropdownlist_genre');
			});
			</script>
		<% end template %>
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<div id="pci_index_main_container">
				<div id="pci_index_TO_DEFINE_container">
					<a href="<% url "/problems" %>">
						<h2>
							Problemas
						</h2>
					</a>
					Comienzo content
					<br />
					<br />
					<br />
					Index content
					<br />
					<br />
					<br />
				</div>
				<div id="pci_index_sign_up_container">
					<% include template_view::sign_up_form(sign_up_form_info) %>
				</div>
			</div>
			<% include template_view::information_footer() %>
		<% end template %>
	
	
	<% end view %>
<% end skin %>
