
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view problem_view uses ViewContent::ProblemContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/problem.css" rel="stylesheet" type="text/css" />
		<% end template %>
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<% include template_view::navigation_menu() %>
			<div id="pci_problem_main_container">
				<div class="pci_box_container">
					<% if user_signed_in %>
						<% include template_view::toolbar_problem(problem->id) %>
						<div class="pci_horizontal_line"></div>
					<% end %>
					<div id="pci_problem_header_container">
						<h2>
							<%= problem->description %>
						</h2>
					</div>
					<div id="pci_problem_problem_container">
						<div class="pci_box_content" id="pci_problem_problem_content">
							<%= problem->content %>
						</div>
					</div>
					<div id="pci_problem_solution_container">
						<% if problem->is_solved  %>
							<div class="pci_box_description pci_problem_solution_description">
								<% include template_view::solution_description(problem, accepted_solution) %>
							</div>
						<% end %>
						<% foreach solution in *solutions %>
		 					<% item %>
								<div class="pci_box_description pci_problem_solution_description">
									<% include template_view::solution_description(problem, solution) %>
								</div>
		  					<% end %>
						<% end %>
					</div>
					<% include template_view::clarifications(clarifications, problem, user_signed_in, user_name) %>
				</div>
			</div>
		<% end template %>
		
	
	<% end view %>
<% end skin %>
