
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view problems_view uses ViewContent::ProblemsContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/problems.css" rel="stylesheet" type="text/css" />
		<% end template %>
	
	
		<% template javascript_code() %>
			$(document).ready(function() {
				$('#pci_navigation_menu_problems_button').addClass('active');
			});
		<% end template %>
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<% include template_view::navigation_menu() %>
			<div id="pci_problems_main_container">
				<div class="pci_box_container">
					<% if user_signed_in %>
						<% include template_view::toolbar_problems() %>
						<div class="pci_horizontal_line"></div>
					<% end %>
					<% foreach problem in *problems %>
						<% item %>
							<div class="pci_box_description pci_problems_problem_description">
								<% include template_view::problem_description(problem) %>
							</div>
						<% end %>
					<% empty %>
						No se encontraron problemas
					<% end %>
				</div>
			</div>
		<% end template %>
	
	
	<% end view %>
<% end skin %>
