
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view template_view uses ViewContent::TemplateContent %>


		<% template clarifications(ClarificationList clarifications, PublicationPointer publication) %>
			<% if (! clarifications->empty()) %>
				<div id="pci_clarifications_main_container">
					<div class="pci_horizontal_line"></div>
					<div class="pci_clarifications_row_container">
						<div class="pci_clarifications_question_container">
							<div class="pci_clarifications_column_header pci_clarifications_question_content">
								Pregunta
							</div>
						</div>
						<div class="pci_clarifications_answer_container">
							<div class="pci_clarifications_answer_content pci_clarifications_column_header">
								Respuesta
							</div>
						</div>
					</div>
					<% foreach clarification in *clarifications %>
	 					<% item %>
							<div class="pci_clarifications_row_container">
								<div class="pci_clarifications_question_container">
									<div class="pci_box_content pci_clarifications_question_content">
										<span class="pci_text_clarification">
											<%= clarification->question %>
										</span>
									</div>
								</div>
								<div class="pci_clarifications_answer_container">
									<% if (! clarification->answer.empty()) %>
										<div class="pci_box_content pci_clarifications_answer_content">
											<span class="pci_text_clarification">
												<%= clarification->answer %>
											</span>
										</div>
									<% else %>
										<% if (content.user_signed_in && content.user_name.compare(publication->creator_user_name) == 0) %>
											<div class="pci_clarifications_answer_content">
												<textarea class="pci_clarifications_answer_textarea pci_textarea_small" id="textarea_<%= clarification->id %>">Responder</textarea>
												<div class="pci_clarifications_button_container">
													<a href="javascript:void(0)">
														<div class="pci_button_classic pci_clarifications_answer_button" id="answer_button_<%= clarification->id %>">
															Responder
														</div>
													</a>
												</div>
												<script>
													configureClarificationTextarea('textarea_<%= clarification->id %>', 'answer_button_<%= clarification->id %>', '<%= clarification->id %>');
												</script>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
	  					<% end %>
					<% empty %>
						Aún no hay aclaraciones
					<% end %>
				</div>
			<% end %>
		<% end template %>


		<% template header_bar() %>
			<div id="pci_header_bar_main_container">
				<div id="pci_header_bar_central_container">
					<div id="pci_header_bar_logo_container">
						<a href="<% url "/" %>" >
							<div id="pci_header_bar_logo"></div>
						</a>
					</div>
					<div id="pci_header_bar_sign_container">
					 	<% if user_signed_in %>
							<a href="<% url "/sign_out" %>">
								<div class="pci_button_classic pci_header_bar_button">
									Salir
								</div>
							</a>
					 		<div id="pci_header_bar_user_name_container">
							<a href="<% url "/user" using user_name %>">
					 			<span id="pci_header_bar_user_name">
					 				<%= user_first_name %> <%= user_last_name %>
					 			</span>
				 			</a>
				 			</div>
						<% else %>
							<a href="javascript:void(0)">
								<div class="pci_button_classic pci_header_bar_button" id="pci_header_bar_button_sign_in">
									Ingresar
								</div>
							</a>
							<div id="pci_header_bar_sign_in_container">
								<% include sign_in_form(sign_in_form_info) %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end template %>
	
		<% template information_footer() %>
			<div id="pci_information_footer_main_container">
				<div id="pci_information_footer_central_container">
					<div id="pci_information_footer_logo_extended_container">
						<div id="pci_information_footer_logo_extended"></div>
					</div>
					<div id="pci_information_footer_link_container">
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								<span class="pci_text_footer">
									PCI
								</span>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Acerca de
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Filosofía
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								<span class="pci_text_footer">
									Header 2
								</span>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Link 1
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Link 2
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								<span class="pci_text_footer">
									Soporte
								</span>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Ayuda
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Condiciones de servicio
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_footer" href="<% url "" %>">
									Copyright
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end template %>


		<% template navigation_menu() %>
			<div id="pci_navigation_menu_main_container">
				<a href="<% url "/problems" %>">
					<div class="pci_button_square pci_navigation_menu_button" id="pci_navigation_menu_problems_button">
						Problemas
					</div>
				</a>
				<a href="<% url "/ideas" %>">
					<div class="pci_button_square pci_navigation_menu_button" id="pci_navigation_menu_ideas_button">
						Ideas
					</div>
				</a>
				<% if user_signed_in %>
					<div class="pci_horizontal_line" ></div>
					<a href="<% url "/user" using user_name %>">
						<div class="pci_button_square pci_navigation_menu_button" id="pci_navigation_menu_profile_button">
							Perfil
						</div>
					</a>
				<% end %>
			</div>
		<% end template %>
		
		
		<% template new_problem_form(ViewContent::NewProblemFormInfo &new_problem_form_info) %>
			<form action="" method="post">
				<% form as_p new_problem_form_info %>
			</form>
		<% end template %>
		
		
		<% template new_solution_form(ViewContent::NewSolutionFormInfo &new_solution_form_info) %>
			<form action="" method="post">
				<% form as_p new_solution_form_info %>
			</form>
		<% end template %>
		
		
		<% template problem_description(ProblemPointer problem) %>
			<div class="pci_box_container pci_problems_problem_description">
				<div class="row-fluid">
					<div class="span2">
						<div class="row-fluid pci_problems_votes"> <!-- Votes & Answers -->
							<div class="span6">
								<div class="number">125</div>
								<div>Votos</div>
							</div>
							<div class="span6">
								<div class="number">6</div>
								<div>Soluciones</div>
							</div>
						</div>
					</div>
					<div class="span9">
						<div class="row-fluid">				
							<a class="pci_link_description" href="<% url "/publication" using problem->id %>">
								<%= problem->description %>
							</a>
							<span class="pci_text_description">
								<% if problem->is_anonymous %>
									<i>Publicado Anónimamente</i>
								<% else %>
									<i>Por <a class="pci_link_user_name" href="<% url "/user" using problem->creator_user_name %>"><%= problem->creator_user_name %></a></i>
								<% end %>
								- <%= problem->creation_datetime->toString("%d/%m/%Y a las %H:%M hs.") %>
							</span>
						</div>
					</div>
					<% if problem->is_solved %>
						<div class="span1">
							<div class="tick_on"></div>
						</div>
					<% end %>
				</div>				
			</div>
		<% end template %>
		
		<% template publication_description(PublicationPointer publication) %>
			<a class="pci_link_description" href="<% url "/publication" using publication->id %>">
				<%= publication->description %>
			</a>
			<span class="pci_text_description">
				<% if publication->is_anonymous %>
					<i>Publicado Anónimamente</i>
				<% else %>
					<i>Por <a class="pci_link_user_name" href="<% url "/user" using publication->creator_user_name %>"><%= publication->creator_user_name %></a></i>
				<% end %>
				- <%= publication->creation_datetime->toString("%d/%m/%Y a las %H:%M hs.") %>
			</span>
		<% end template %>		
		
		<% template sign_in_form(ViewContent::SignInFormInfo &sign_in_form_info) %>
			<form action="" method="post">
				<% form as_p sign_in_form_info %>
			</form>
		<% end template %>
		
		
		<% template sign_up_form(ViewContent::SignUpFormInfo &sign_up_form_info) %>
			<form action="" method="post">
				<% form as_p sign_up_form_info %>
			</form>
		<% end template %>
		
		
		<% template solution_description(ProblemPointer problem, SolutionPointer solution) %>
			<a class="pci_link_description" href="<% url "/publication" using problem->id, solution->id %>">
				<%= solution->description %>
			</a>
			<span class="pci_text_description">
				<% if solution->is_anonymous %>
					<i>Publicado Anónimamente</i>
				<% else %>
					<i>Por 
						<a class="pci_link_user_name" href="<% url "/user" using solution->creator_user_name %>">
							<%= solution->creator_user_name %>
						</a>
					</i>
				<% end %>
				- <%= solution->creation_datetime->toString("%d/%m/%Y a las %H:%M hs.") %>
			</span>
		<% end template %>
		
		
		<% template toolbar_problems() %>
			<div id="pci_toolbar_problems_container">
				<a href="<% url "/new_problem" %>">
					<div class="pci_button_icon pci_toolbar_problems_button" id="pci_toolbar_problems_new_problem_button">
						Nuevo problema
					</div>
				</a>
			</div>
		<% end template %>
		
		
		<% template toolbar_problem(std::string problem_id) %>
			<div id="pci_toolbar_problem_container">
				<a href="<% url "/new_solution" using problem_id %>">
					<div class="pci_button_icon pci_toolbar_problem_button" id="pci_toolbar_problem_new_solution_button">
						Plantear solución
					</div>
				</a>
			</div>
		<% end template %>
		
		
		<% template toolbar_solution(std::string problem_id) %>
			<div id="pci_toolbar_solution_container">
				<a href="<% url "/publication" using problem_id %>">
					<div class="pci_button_icon pci_toolbar_solution_button" id="pci_toolbar_solution_go_back_button">
						Volver al problema
					</div>
				</a>
			</div>
		<% end template %>


		<% template css_links() %>
			<link href="/css/template.css" rel="stylesheet" type="text/css" />
    		
    		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<% end template %>


		<% template js_links() %>
			<script src="/js/utilities.js"></script>
			<script src="/lib/jquery/jquery-1.9.0.min.js"></script>
			
			<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    	<!--[if lt IE 9]>
	      		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    	<![endif]-->
    		<script src="/js/bootstrap.min.js"></script>
		<% end template %>
		
		
		<% template javascript_code() %>
			<script>
				$(document).ready(function() {
					configureTextfield('pci_sign_in_textfield_user_name');
					configurePasswordfield('pci_sign_in_textfield_password');
					configureSignInFormContainer('pci_header_bar_sign_in_container', 'pci_header_bar_button_sign_in');
				});
			</script>
		<% end template %>
		
		
		<% template page_content() %>
		<% end template %>


		<% template render() %>
			<!DOCTYPE html>
			<html>
				<head>
					<% include css_links() %>
			    	<title>
			    		<%= page_title %>
			    	</title>
				</head>
				<body>
					<% include page_content() %>
					<% include js_links() %> <!-- Placed here for faster page loading -->
					<% include javascript_code() %>
				</body>
			</html>
		<% end template %>


	<% end view %>
<% end skin %>
