
<% c++ #include "ViewContent.h" %>
<% c++ #include "Server.h" %>

<% skin pci_skin %>
	<% view template_view uses ViewContent::TemplateContent %>

		<% template css_links() %>
			<link href="/css/elements.css" rel="stylesheet" type="text/css" />
			<link href="/css/global.css" rel="stylesheet" type="text/css" />
			<link href="/css/header_bar.css" rel="stylesheet" type="text/css" />
			<link href="/css/navigation_menu.css" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
		<% end template %>
		

		<% template clarifications(ClarificationList clarifications) %>
			<div id="pci_clarifications_main_container">
				<div class="pci_horizontal_line"></div>
				<div class="pci_clarifications_row_container">
					<div class="pci_clarifications_question_container">
						<div class="pci_clarifications_column_header pci_clarifications_question_content">
							Question
						</div>
					</div>
					<div class="pci_clarifications_answer_container">
						<div class="pci_clarifications_answer_content pci_clarifications_column_header">
							Answer
						</div>
					</div>
				</div>
				<% foreach clarification in *clarifications %>
 					<% item %>
						<div class="pci_clarifications_row_container">
							<div class="pci_clarifications_question_container">
								<div class="pci_box_3 pci_clarifications_question_content">
									<%= clarification->question %>
								</div>
							</div>
							<div class="pci_clarifications_answer_container">
								<div class="pci_box_5 pci_clarifications_answer_content">
									<%= clarification->answer %>
								</div>
							</div>
						</div>
  					<% end %>
				<% empty %>
					There are are no clarifications
				<% end %>
			</div>
		<% end template %>


		<% template header_bar() %>
			<div id="pci_header_bar_main_container">
				<div id="pci_header_bar_central_container">
					<div id="pci_header_bar_logo_container">
						<div id="pci_header_bar_logo"></div>
					</div>
					<div id="pci_header_bar_button_container">
					 	<% if user_logged %>
					 		<div id="user_name_box">Hola, <%= user_name %>!</div>
							<a class="pci_button_0" href="<% url "/sign_out" %>">
								<div class="pci_button_0 pci_header_bar_button">
									Salir
								</div>
							</a>
						<% else %>
							<a class="pci_button_0" href="<% url "/sign_in" %>">
								<div class="pci_button_0 pci_header_bar_button">
									Ingresar
								</div>
							</a>
							<a class="pci_button_0" href="<% url "/sign_up" %>">
								<div class="pci_button_0 pci_header_bar_button">
									Registrar
								</div>
							</a>
						<% end %>
					</div>
				</div>
			</div>
		<% end template %>
		
		
		<% template information_footer() %>
			<div id="pci_information_footer_main_container">
				<div id="pci_information_footer_central_container">
					<div id="pci_information_footer_TO_DEFINE_container">
						Some information
					</div>
					<div id="pci_information_footer_link_container">
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								Header 1
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 1
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 2
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								Header 2
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 1
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 2
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								Header 3
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 1
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 2
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
						<div class="pci_information_footer_column_container">
							<div class="pci_information_footer_column_header">
								Header 4
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 1
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 2
								</a>
							</div>
							<div class="pci_information_footer_link">
								<a class="pci_link_0" href="<% url "" %>">
									Link 3
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end template %>


		<% template navigation_menu() %>
			<div id="pci_navigation_menu_main_container">
				<a href="<% url "/problems" %>">
					<div class="pci_button_1 pci_navigation_menu_button" id="pci_navigation_menu_problems_button">
						<div class="pci_button_1_image" id="pci_navigation_menu_problems_button_image"></div>
						<div class="pci_button_1_text">
							Problems
						</div>
					</div>
				</a>
				<a href="<% url "/ideas" %>">
					<div class="pci_button_1 pci_navigation_menu_button" id="pci_navigation_menu_ideas_button">
						<div class="pci_button_1_image" id="pci_navigation_menu_ideas_button_image"></div>
						<div class="pci_button_1_text">
							Ideas
						</div>
					</div>
				</a>
				<% if user_logged %>
					<a href="<% url "/profile" %>">
						<div class="pci_button_1 pci_navigation_menu_button" id="pci_navigation_menu_profile_button">
							<div class="pci_button_1_image" id="pci_navigation_menu_profile_button_image"></div>
							<div class="pci_button_1_text">
								Profile
							</div>
						</div>
					</a>
				<% end %>
			</div>
		<% end template %>
		
		<% template page_content() %>
		<% end template %>


		<% template render() %>
			<!DOCTYPE html>
			
			<html>
				<head>
					<% include css_links() %>
					
			    	<title>
			    		<%= page_title %>
			    	</title>
				</head>
				
				<body>
					<% include page_content() %>
				</body>
			</html>
		<% end template %>


	<% end view %>
<% end skin %>
