
<% c++ #include "ViewContent.h" %>

<% skin pci_skin %>
	<% view user_view uses ViewContent::UserContent extends template_view %>
	
	
		<% template css_links() %>
			<% include template_view::css_links() %>
			<link href="/css/user.css" rel="stylesheet" type="text/css" />
		<% end template %>
		
		
		<% template javascript_code() %>
			$(document).ready(function() {
				$('#pci_navigation_menu_profile_button').addClass('active');
			});
		<% end template %>
	
	
		<% template page_content() %>
			<% include template_view::header_bar() %>
			<% include template_view::navigation_menu() %>
			
			<div id="pci_user_main_container">
				<div class="pci_box_container">
					<div id="column_1">
						<div id="content_wrapper">
							<div id="title_container">
								<div id="rank_icon"></div>
								<div id="big_name"><%= user->first_name %> <%= user->last_name %></div>
								<div id="user_stats">
									<div class="stat_container">
										<div class="stat_number">1000</div>
										<div class="stat_description">Publicaciones</div>
									</div>
									<div class="stat_container">
										<div class="stat_number">400</div>
										<div class="stat_description">Problemas</div>
									</div>
									<div class="stat_container">
										<div class="stat_number">900</div>
										<div class="stat_description">Soluciones</div>
									</div>
									<div class="stat_container">
										<div class="stat_number">600</div>
										<div class="stat_description">Soluciones aceptadas</div>
									</div>
								</div>
							</div>	
							<div id="user_customizable_panel">
								Messi nació el 24 de junio de 1987 en la ciudad de Rosario, en la
								provincia de Santa Fe, Argentina. Es hijo de Jorge Horacio Messi, 
								trabajador de una fábrica, y de Celia María Cuccittini, una limpiadora 
								de medio tiempo. Su familia, de parte de su padre, posee 
								ascendencia italiana debido a su bisabuelo Angelo Messi, que vivía en
								la ciudad de Ancona, y que se mudó a Argentina en 1883. Tiene dos
								hermanos llamados Rodrigo y Matías, como también una hermana llamada
								María Sol. Asimismo, dos de sus primos (Maximiliano y Emanuel Biancucchi)
								son también futbolistas.<br>
								Con apenas cinco años, Lionel Messi dio sus primeros pasos en Grandoli,
								un club de barrio a pocas manzanas de su casa, al sur de la ciudad 
								argentina de Rosario. El club era dirigido por su padre, Jorge.
								Posteriormente jugó algunos partidos con el Club Atlético Central Córdoba.
								 En 1995, Messi comenzó a entrenarse en las divisiones inferiores de 
								Newell's Old Boys, club con el que obtuvo la Copa de la Amistad de Perú
								en 1997. A la edad de 11 años, le fue diagnosticada una deficiencia de la
								hormona de crecimiento. El Club Atlético River Plate mostró cierto interés
								en el progreso de Messi sin embargo, no creyó conveniente desembolsar el
								dinero para pagar el tratamiento que tenía un costo de $900 por mes.
								Carles Rexach, director técnico del Barcelona, notó el talento de Messi 
								y éste tenía parientes en Lérida, España, siendo capaz, junto con su padre,
								de iniciar un viaje. El Barcelona lo fichó después de verlo jugar, 
								ofreciéndose entonces a pagar los costosos tratamientos si él se mudaba a
								España. Su familia se trasladó a Barcelona donde comenzó a jugar con 
								equipos juveniles.<br>
								Messi empezó a jugar en las categorias inferiores del FC Barcelona a la 
								edad de 13 años. En ellas fue compañero de equipo de Cesc Fabregas y Gerard
								Piqué entre otros. Uno de sus primeros técnicos fue Tito Vilanova, quien años
								más tarde sería su entrenador en el primer equipo.
							</div>
							<div id="recent_activity">
								recent_activity
							</div>
						</div>
					</div>
					<div id="column_2">
						<div id="profile_image"></div>
						<div id="user_personal_info">
							<div class="feature_container">
								<div class="feature_title">
									Nombre de usuario
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->user_name %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									Nombre
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->first_name %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									Apellido
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->last_name %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									Sexo
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->genre %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									Fecha de nacimiento
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->birth_date->toString("%d/%m/%Y") %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									E-mail
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->email %>
								</div>
							</div>
							<div class="feature_container">
								<div class="feature_title">
									Fecha de registro
								</div>
								<div class="horizontal_line"></div>
								<div class="feature_value">
									<%= user->sign_up_datetime->toString("%d/%m/%Y %H:%M:%S") %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<% end template %>
		
	
	<% end view %>
<% end skin %>
