
<% c++ #include "ViewContent.h" %>

<% skin test_skin %>
	<% view welcome_view uses ViewContent::WelcomeContent extends template_view %>
	
		<% template head_links() %>
			<% include template_view::head_links() %>
			<link href="/css/welcome.css" rel="stylesheet" type="text/css" />
		<% end template %>
	
		<% template body_content() %>
			<h1>Bienvenido!</h1>
			<div>
				<div class="big_button" id="welcome_problems_big_button">
					<a href="/pci/problems">
						Problems
					</a>
				</div>
				<div class="big_button" id="welcome_ideas_big_button">
					<a href="/pci/ideas">
						Ideas
					</a>
				</div>
			</div>
		<% end template %>
	
	<% end view %>
<% end skin %>
