
<% c++ #include "ViewContent.h" %>

<% skin test_skin %>
	<% view welcome_view uses ViewContent::WelcomeContent extends template_view %>
	
		<% template head_links() %>
			<% include template_view::head_links() %>
			<link href="/css/welcome.css" rel="stylesheet" type="text/css" />
		<% end template %>
	
		<% template body_content() %>
			<h1>Bienvenido!</h1>
			<a href="/pci/sign_in">Sign in</a>
			<br />
			<a href="/pci/problems">Problems</a>
			<br />
			<a href="/pci/ideas">Ideas</a>
		<% end template %>
	
	<% end view %>
<% end skin %>
