
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view forms_view uses ViewContent::SessionContent %>
		
		
		<% template sign_in_form() %>
			<form id="sign-in-form">
				<input id="sign-in-user-name" placeholder="Nombre de usuario" type="text" /><br />
				<input id="sign-in-password" placeholder="Contraseña" type="password" /><br />
				<input class="btn pull-right" type="submit" value="Identificarse" />
			</form>
			<script>
				$('#sign-in-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var password_field = $('#sign-in-password');
					var user_name_field = $('#sign-in-user-name');
					var password = $.trim(password_field.val());
					var user_name = $.trim(user_name_field.val());
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.SignIn.password.code in invalid_input_descriptions)
							Tooltip.showTooltip(password_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignIn.password.code]);
						if (InputValidator.Input.SignIn.user_name.code in invalid_input_descriptions)
							Tooltip.showTooltip(user_name_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignIn.user_name.code]);
					};
					
					if (InputValidator.validateSignInInput(on_invalid_input, password, user_name)) {
						var on_success = function(signed_in) {
							if (signed_in)
								location.reload(true);
							else
								alert('<div class="alert alert-error">Nombre de usuario desconocido o contraseña inválida</div>');
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.signIn(on_success, on_error, password, user_name);
					}
				});
			</script>
		<% end template %>
		
		
		<% template search_form() %>
			<form class="navbar-search" id="search-form">
				<input class="search-query span2" id="search-query" placeholder="Buscar" type="text">
			</form>
			<script>
				$('#search-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var query_field = $('#search-query');
					var query = $.trim(query_field.val());
					
					alert("Buscar: '" + query + "' - Completar esto!");
				});
			</script>
		<% end template %>
	
	
		<% template sign_up_form() %>
			<form id="sign-up-form">
				<input id="sign-up-user-name" placeholder="Nombre de usuario" type="text" /><br />
				<input id="sign-up-first-name" placeholder="Nombre" type="text" /><br />
				<input id="sign-up-last-name" placeholder="Apellido" type="text" /><br />
				<input id="sign-up-location" placeholder="Localidad" type="text" /><br />
				<input id="sign-up-email" placeholder="E-mail" type="text" /><br />
				<input id="sign-up-password" placeholder="Contraseña" type="password" /><br />
				<input id="sign-up-password-confirmation" placeholder="Confirmar contraseña" type="password" /><br />
				<input id="sign-up-birth-date" placeholder="Fecha de nacimiento" readonly type="text" /><br />
				<select id="sign-up-genre">
					<option value="F">Mujer</option>
					<option value="M">Hombre</option>
				</select><br />
				<input class="btn pull-right" type="submit" value="Registrar" />
			</form>
			<script>
				Misc.configureDatepicker($('#sign-up-birth-date'));
				$('#sign-up-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var birth_date_field = $('#sign-up-birth-date');
					var email_field = $('#sign-up-email');
					var first_name_field = $('#sign-up-first-name');
					var genre_field = $('#sign-up-genre');
					var last_name_field = $('#sign-up-last-name');
					var location_field = $('#sign-up-location');
					var password_field = $('#sign-up-password');
					var password_confirmation_field = $('#sign-up-password-confirmation');
					var user_name_field = $('#sign-up-user-name');
					var birth_date = birth_date_field.val();
					var email = email_field.val();
					var first_name = $.trim(first_name_field.val());
					var genre = genre_field.val();
					var last_name = $.trim(last_name_field.val());
					var location = $.trim(location_field.val());
					var password = password_field.val();
					var password_confirmation = password_confirmation_field.val();
					var user_name = user_name_field.val();
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.SignUp.birth_date.code in invalid_input_descriptions)
							Tooltip.showTooltip(birth_date_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.birth_date.code]);
						if (InputValidator.Input.SignUp.email.code in invalid_input_descriptions)
							Tooltip.showTooltip(email_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.email.code]);
						if (InputValidator.Input.SignUp.first_name.code in invalid_input_descriptions)
							Tooltip.showTooltip(first_name_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.first_name.code]);
						if (InputValidator.Input.SignUp.last_name.code in invalid_input_descriptions)
							Tooltip.showTooltip(last_name_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.last_name.code]);
						if (InputValidator.Input.SignUp.location.code in invalid_input_descriptions)
							Tooltip.showTooltip(location_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.location.code]);
						if (InputValidator.Input.SignUp.password.code in invalid_input_descriptions)
							Tooltip.showTooltip(password_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.password.code]);
						if (InputValidator.Input.SignUp.password_confirmation.code in invalid_input_descriptions)
							Tooltip.showTooltip(password_confirmation_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.password_confirmation.code]);
						if (InputValidator.Input.SignUp.user_name.code in invalid_input_descriptions)
							Tooltip.showTooltip(user_name_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.SignUp.user_name.code]);
					};
					
					// TODO: call userExists and check for user_name availability
					
					if (InputValidator.validateSignUpInput(on_invalid_input, birth_date, email, first_name, last_name, location, password, password_confirmation, user_name)) {
						var on_success = function() {
							window.location.href = Server.Url.fetch_user_page(user_name);
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.signUp(on_success, on_error, birth_date, email, first_name, genre, last_name, location, password, user_name);
					}
				});
			</script>
		<% end template %>
		
		
		<% template publicate_problem_form() %>
			<form id="publicate-problem-form">
				<input id="publicate-problem-description" placeholder="Descripción del problema" type="text" /><br />
				<textarea id="publicate-problem-content"></textarea><br />
				<input class="btn pull-right" type="submit" value="Publicar problema" />
			</form>
			<script>
				Misc.configureTexteditor('publicate-problem-content');
				$('#publicate-problem-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var editor_instance = CKEDITOR.instances['publicate-problem-content'];
					editor_instance.updateElement();
					var editor_inner_div = $('#cke_' + editor_instance.name);
					var content_field = $('#publicate-problem-content');
					var description_field = $('#publicate-problem-description');
					var content = $.trim(content_field.val());
					var description = $.trim(description_field.val());
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.Problem.content.code in invalid_input_descriptions)
							Tooltip.showTooltip(editor_inner_div, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Problem.content.code]);
						if (InputValidator.Input.Problem.description.code in invalid_input_descriptions)
							Tooltip.showTooltip(description_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Problem.description.code]);
					};
					
					if (InputValidator.validateProblemInput(on_invalid_input, content, description)) {
						var on_success = function(problem_id) {
							window.location.href = Server.Url.fetch_problem_page(problem_id);
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.publicateProblem(on_success, on_error, content, description);
					}
				});
			</script>
		<% end template %>
		
		
		<% template publicate_solution_form(String problem_id) %>
			<form id="publicate-solution-form">
				<input id="publicate-solution-description" placeholder="Descripción de la solución" type="text" /><br />
				<textarea id="publicate-solution-content"></textarea><br />
				<input class="btn pull-right" type="submit" value="Publicar solución" />
			</form>
			<script>
				Misc.configureTexteditor('publicate-solution-content');
				$('#publicate-solution-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var editor_instance = CKEDITOR.instances['publicate-solution-content'];
					editor_instance.updateElement();
					var editor_inner_div = $('#cke_' + editor_instance.name);
					var content_field = $('#publicate-solution-content');
					var description_field = $('#publicate-solution-description');
					var content = $.trim(content_field.val());
					var description = $.trim(description_field.val());
					var problem_id = '<%= problem_id %>';
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.Solution.content.code in invalid_input_descriptions)
							Tooltip.showTooltip(editor_inner_div, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Solution.content.code]);
						if (InputValidator.Input.Solution.description.code in invalid_input_descriptions)
							Tooltip.showTooltip(description_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Solution.description.code]);
					};
					
					if (InputValidator.validateSolutionInput(on_invalid_input, content, description)) {
						var on_success = function(solution_id) {
							window.location.href = Server.Url.fetch_solution_page(solution_id);
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.publicateSolution(on_success, on_error, content, description, problem_id);
					}
				});
			</script>
		<% end template %>
		
		
		<% template ask_clarification_form(String publication_id) %>
			<form id="ask-clarification-form">
				<textarea id="ask-clarification-question" placeholder="Solicitar una aclaración..."></textarea><br />
				<input class="btn pull-right" type="submit" value="Publicar pregunta" />
			</form>
			<script>
				$('#ask-clarification-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var question_field = $('#ask-clarification-question');
					var publication_id = '<%= publication_id %>';
					var question = $.trim(question_field.val());
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.Clarification.content.code in invalid_input_descriptions)
							Tooltip.showTooltip(question_field, form.parent(), 'right', invalid_input_descriptions[InputValidator.Input.Clarification.content.code]);
					};
					
					if (InputValidator.validateClarificationInput(on_invalid_input, question)) {
						var on_success = function(clarification_id) {
							alert("askClarification OK, completar acciones aqui");
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.askClarification(on_success, on_error, publication_id, question);
					}
				});
			</script>
		<% end template %>
		
		
		<% template answer_clarification_form(String clarification_id) %>
			<form id="answer-clarification-form">
				<textarea id="answer-clarification-answer" placeholder="Responder..."></textarea><br />
				<input class="btn pull-right" type="submit" value="Publicar respuesta" />
			</form>
			<script>
				$('#answer-clarification-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var answer_field = $('#answer-clarification-answer');
					var answer = $.trim(answer_field.val());
					var clarification_id = '<%= clarification_id %>';
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.Clarification.content.code in invalid_input_descriptions)
							Tooltip.showTooltip(question_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Clarification.content.code]);
					};
					
					if (InputValidator.validateClarificationInput(on_invalid_input, answer)) {
						var on_success = function() {
							alert("answerClarification OK, completar acciones aqui");
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.answerClarification(on_success, on_error, answer, clarification_id);
					}
				});
			</script>
		<% end template %>
		
		
		<% template publicate_proposal_form(String solution_id) %>
			<form id="publicate-proposal-form">
				<textarea id="publicate-proposal-content" placeholder="Proponer una mejora..."></textarea><br />
				<input class="btn pull-right" type="submit" value="Publicar propuesta" />
			</form>
			<script>
				$('#publicate-proposal-form').submit(function(event) {
					event.preventDefault();
					
					var form = $(this);
					var content_field = $('#publicate-proposal-content');
					var content = $.trim(content_field.val());
					var solution_id = '<%= solution_id %>';
					
					Tooltip.hideAllTooltips();
					var on_invalid_input = function(invalid_input_descriptions) {
						if (InputValidator.Input.Proposal.content.code in invalid_input_descriptions)
							Tooltip.showTooltip(content_field, form.parent(), 'left', invalid_input_descriptions[InputValidator.Input.Proposal.content.code]);
					};
					
					if (InputValidator.validatePublicateProposalInput(on_invalid_input, content)) {
						var on_success = function(proposal_id) {
							alert("publicateProposal OK, completar acciones aqui");
						};
						
						var on_error = function(http_error_code, server_error_code) {
							Toast.showErrorToast(http_error_code, server_error_code, Server.Error.getErrorDescription(server_error_code));
						};
						
						Server.publicateProposal(on_success, on_error, content, solution_id);
					}
				});
			</script>
		<% end template %>
	
	
	<% end view %>
<% end skin %>
