
<% c++ #include "../src/logic/ViewContent.h" %>

<% skin pci_skin %>
	<% view page_template_view uses ViewContent::SessionContent %>
		
		
		<% template page_title() %>
		<% end template %>
		
		
		<% template head_content() %>
			<link href="/lib/jquery-ui/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css" />
			<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
			<link href="/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
			<link href="/css/global.css" rel="stylesheet" type="text/css" />
			<link href="/css/template.css" rel="stylesheet" type="text/css" />
			<script src="/lib/jquery/jquery-1.9.0.min.js"></script>
			<script src="/lib/jquery-ui/jquery-ui-1.10.0.custom.min.js"></script>
			<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
			<script src="/js/global.js"></script>
			<script src="/js/logic.js"></script>
			<script src="/js/graphic.js"></script>
		<% end template %>
		
		
		<% template body_content() %>
		<% end template %>
		
		
		<% template js_head_code() %>
		<% end template %>
		
		
		<% template js_body_code() %>
		<% end template %>
		
		
		<% template render() %>
			<!DOCTYPE html>
			<html>
				<head>
			    	<title>
			    		<% include page_title() %>
			    	</title>
					<% include head_content() %>
					<script>
						<% include js_head_code() %>
					</script>
				</head>
				<body>
					<% include body_content() %>
					<script>
						<% include js_body_code() %>
					</script>
				</body>
			</html>
		<% end template %>
		
		
	<% end view %>
<% end skin %>
