
/*
----------------------------------------------------------------------------------------------
	Clarifications
----------------------------------------------------------------------------------------------
*/

#pci_clarifications_main_container {
	min-width:912px;
	padding:0px 128px 0px 240px;
}

div.pci_clarifications_row_container {
	clear:both;
}

div.pci_clarifications_question_container {
	float:left;
	width:50%;
}

div.pci_clarifications_answer_container {
	float:right;
	width:50%;
}

div.pci_clarifications_column_header {
	text-align:center;
}

div.pci_clarifications_question_content {
	margin:16px 8px 0px 0px;
}

div.pci_clarifications_answer_content {
	margin:16px 0px 0px 8px;
}
