
/*
----------------------------------------------------------------------------------------------
	Elements
----------------------------------------------------------------------------------------------
*/

div.pci_box_0 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.pci_box_0:hover {
	border-color:#B5B5B5;
}

a.pci_box_0 {
	/* TO DEFINE */
}

div.pci_box_1 {
	background-color:#EADBDB;
	border-radius:8px;
	border-width:0px;
	box-shadow:0px 0px 16px 0px #EAB1B1 inset;
	padding:8px;
}

div.pci_box_1:hover {
	background-color:#F2E4E4;
}

a.pci_box_1 {
	/* TO DEFINE */
}

div.pci_box_2 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:4px;
}

div.pci_box_3 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.pci_box_3:hover {
	border-color:#B5B5B5;
}

div.pci_box_4 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.pci_box_4:hover {
	border-color:#B5B5B5;
}

a.pci_box_4 {
	/* TO DEFINE */
}

div.pci_box_5 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.pci_box_5:hover {
	border-color:#B5B5B5;
}

div.pci_box_6 {
	background-color:#00FF00;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.pci_box_6:hover {
	border-color:#B5B5B5;
}

a.pci_box_6 {
	/* TO DEFINE */
}

div.pci_button_0 {
	background-color:#FFFFFF;
	border-color:#C2C2C2;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	box-shadow:0px -4px 8px 0px #D1D1D1 inset;
	height:26px;
	line-height:28px;
	padding:0px 16px;
}

div.pci_button_0:hover {
	background-color:#F2F2F2;
	border-color:#B5B5B5;
}

a.pci_button_0 {
	/* TO DEFINE */
}

div.pci_button_1 {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	height:95px;
	width:95px;
}

div.pci_button_1:hover {
	border-color:#B5B5B5;
}

div.pci_button_1_image {
	height:68px;
}

div.pci_button_1_text {
	color:#7A7A7A;
	text-align:center;
}

div.pci_button_1:hover div.pci_button_1_text {
	color:#444444;
}

div.pci_horizontal_line {
	border-color:#D3D3D3;
	border-style:solid;
	border-width:0px 0px 1px 0px;
	clear:both;
	height:16px;
	width:100%;
}

a.pci_link_0 {
	/* TO DEFINE */
}
