
/*
----------------------------------------------------------------------------------------------
	Global
----------------------------------------------------------------------------------------------
*/

/* Debugging
div {
  border-color:Red;
  border-style:solid;
  border-width:1px;
}
*/

* {
  margin:0px;
  outline-style:none;
  outline-width:0px;
  padding:0px;
}
