
/*
----------------------------------------------------------------------------------------------
	Header bar
----------------------------------------------------------------------------------------------
*/

#pci_header_bar_main_container {
	background-color:#6CA4C8;
	box-shadow:0px 1px 4px 0px #000000, 0px -4px 16px 0px #3D6A87 inset;
	height:48px;
	position:fixed;
	top:0px;
	width:100%;
}

#pci_header_bar_central_container {
	margin:0px 128px;
	min-width:1024px;
}

#pci_header_bar_logo_container {
	float:left;
}

#pci_header_bar_logo {
	background-image:url('../img/logo.png');
	background-position:left center;
	background-repeat:no-repeat;
	height:48px;
	width:103px;
}

#pci_header_bar_button_container {
	float:right;
}

div.pci_header_bar_button {
	float:right;
	margin:10px 0px 10px 8px;
}
