
/*
----------------------------------------------------------------------------------------------
	Header bar
----------------------------------------------------------------------------------------------
*/

#pci_header_bar {
	background-color:#C9DCA7;
	box-shadow:0px 1px 4px 0px #3E3E3E, 0px -4px 16px 0px #9DAC83 inset;
	height:48px;
	position:fixed;
	top:0px;
	width:100%;
}

#pci_header_bar_main_container {
	clear:both;
	margin:0px auto;
	width:1280px;
}

#pci_header_bar_logo_container {
	float:left;
}

#pci_header_bar_button_container {
	float:right;
}

div.pci_header_bar_button {
	float:right;
	margin:10px 0px 10px 8px;
}

#pci_header_bar_offset_container {
	height:48px;
	width:100%;
}
