
body {
	background-color:#F1F1F1;
}

#index_main_container {
	background-color:#FFFFFF;
	min-width:1024px;
	overflow:hidden;
	padding:64px 128px 16px 128px;
}

#index_TO_DEFINE_container {
	float:left;
}

#index_sign_up_container {
	background-color:#F1F1F1;
	border-color:#D0D0D0;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	float:right;
	padding:8px 16px;
}
