
/*
----------------------------------------------------------------------------------------------
	Information footer
----------------------------------------------------------------------------------------------
*/

#pci_information_footer_main_container {
	box-shadow:0px -1px 2px 0px #A8A8A8; /* TO DEFINE */
	width:100%;
}

#pci_information_footer_central_container {
	margin:0px 128px;
	min-width:1024px;
	overflow:hidden;
}

#pci_information_footer_TO_DEFINE_container { /* TO DEFINE : name */
	float:left;
}

#pci_information_footer_link_container {
	float:right;
}

div.pci_information_footer_column_container {
	float:right;
	width:144px;
}

div.pci_information_footer_column_header {
	line-height:32px;
	margin-top:16px;
}

div.pci_information_footer_link {
	line-height:32px;
}
