html, body {
	color: black;
	border: 1px solid red; /* For debug purposes */
	font: normal 16px Arial, sans-serif;
	margin:0;
}

h1{
	text-align: center;
}

.content{
	border: inherit;
	height: 300px;
	width: 800px;
	margin: 0 auto;
}

.publication {
	float:center;
	font-size: 15px;
	text-align:center;
	line-height: 20px;
	height: 40px;
	width: 800px;
	border: 2px solid #333;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.publication:hover{
	background-color: #ddd;
}