
body {
	background-color:#F1F1F1;
}

#pci_problem_main_container {
	min-width:912px;
	padding:64px 128px 0px 240px;
}

#pci_problem_toolbar_container {
	
}

div.pci_problem_toolbar_button {
	float:left;
	margin-right:16px;
}

#pci_problem_toolbar_new_solution_button {
	background-image:url('../img/new_solution_grayscale.png');
	background-position:left center;
	background-repeat:no-repeat;
}

#pci_problem_toolbar_new_solution_button:hover {
	background-image:url('../img/new_solution_color.png');
}

#pci_problem_header_container {
	clear:both;
}

#pci_problem_problem_container {
	float:left;
	width:60%;
}

#pci_problem_problem_content {
	margin:16px 8px 0px 0px;
}

#pci_problem_solution_container {
	float:right;
	width:40%;
}

div.pci_problem_solution_description {
	margin:16px 0px 0px 8px;
}
