
body {
	background-color:#F1F1F1;
}

#solution_main_container {
	min-width:912px;
	padding:64px 16px 0px 128px;
}

#solution_header_container {
	clear:both;
}

#solution_solution_content {
	margin-top:16px;
}
