
/*
----------------------------------------------------------------------------------------------
	Global
----------------------------------------------------------------------------------------------
*/

/* Debugging

div {
  border-color:Red;
  border-style:solid;
  border-width:1px;
}

*/

* {
	margin:0px;
	outline-style:none;
	outline-width:0px;
	padding:0px;
	font-family:font_global;
}

a, a:active, a:hover, a:visited {
	cursor: pointer;
	text-decoration:none;
}

h2 {
	margin:0;
}


/*
----------------------------------------------------------------------------------------------
	Elements
----------------------------------------------------------------------------------------------
*/

@font-face {
	font-family:font_button_classic;
	src:
		local(Arial);
}

@font-face {
	font-family:font_button_icon;
	src:
		local(Arial);
}

@font-face {
	font-family:font_button_square;
	src:
		local(Arial);
}

@font-face {
	font-family:font_global;
	src:
		local(Arial),
		local(Haettenschweiler),
		local("Franklin Gothic Bold"),
		local(Charcoal),
		local("Helvetica Inserat");
}

@font-face {
	font-family:font_link_description;
	src:
		local(Arial);
}

@font-face {
	font-family:font_link_footer;
	src:
		local(Arial);
}

@font-face {
	font-family:font_link_user_name;
	src:
		local(Arial);
}

@font-face {
	font-family:font_submit;
	src:
		local(Arial);
}

@font-face {
	font-family:font_text_description;
	src:
		local(Arial);
}

@font-face {
	font-family:font_text_clarification;
	src:
		local(Arial);
}

@font-face {
	font-family:font_text_footer;
	src:
		local(Arial);
}

@font-face {
	font-family:font_textarea;
	src:
		local(Arial);
}

@font-face {
	font-family:font_textfield;
	src:
		local(Arial);
}

@font-face {
	font-family:font_dropdownlist;
	src:
		local(Arial);
}

@font-face {
	font-family:font_error;
	src:
		local(Arial);
}

div.box_container {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	padding:16px;
}

div.box_content {
	border-color:#D0D0D0;
	border-style:solid;
	border-width:1px;
	padding:8px;
}

div.box_content:hover {
	border-color:#B5B5B5;
}

div.box_description {
	color:#333333;
	box-shadow:0px 0px 5px 0px #979797 inset;
	padding:8px;
}
div.box_description:hover {
	background-color:#F9FFFF;
}

div.box_description.accepted_solution, div.box_description.accepted_solution:hover {
	background-color: #ABFFAB;
}

div.box_error {
	background-color:#000000;
	border-radius:4px;
	color:#FFFFFF;
	font-family:font_error;
	font-size:0.875em;
	max-width:256px;
	opacity:0.8;
	padding:8px;
}

div.button_classic {
	float:right;
	background-color:#FFFFFF;
	border-color:#C2C2C2;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	box-shadow:0px 0px 4px 0px #D1D1D1 inset;
	color:#333333;
	font-family:font_button_classic;
	font-size:0.875em;
	height:26px;
	line-height:26px;
	padding:0px 16px;
	text-shadow:1px 1px #DDDDDD;
}

div.button_classic:hover {
	background-color:#F2F2F2;
	border-color:#B5B5B5;
}

div.button_icon {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	color:#7A7A7A;
	font-family:font_button_icon;
	font-size:0.9375em;
	height:38px;
	line-height:38px;
	padding:0px 16px 0px 48px;
}

div.button_icon:hover {
	box-shadow:0px 0px 64px 0px #FFF857 inset;
}

a.button_square {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:8px;
	/*box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;*/
	border-style: solid;
	border-width:1px;
	color:#7A7A7A;
	font-family:font_button_square;
	font-size:0.875em;
	height:26px;
	padding-top:68px;
	text-align:center;
	width:94px;
	padding-top:68px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a.button_square:hover {
	border-color:#B5B5B5;
	color:#444444;
}

a.button_square.active {
	border-color:#B5B5B5;
}

select.dropdownlist {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	color:#B5B5B5;
	font-family:font_dropdownlist;
	font-size:0.9375em;
	padding:10px 10px 10px 4px;
}

select.dropdownlist:focus {
	background-color:#FFFFFF;
	border-color:#82C5F0;
}

select.dropdownlist:hover {
	background-color:#FFFFFF;
	border-color:#82C5F0;
}

select.dropdownlist.error {
	border-color:#FF4A19;
}

select.dropdownlist.set {
	color:#444444;
}

div.horizontal_line {
	border-color:#D3D3D3;
	border-style:solid;
	border-width:0px 0px 1px 0px;
	clear:both;
	width:100%;
	height: 1px;
	margin-bottom: 16px;
}

a.link_footer {
	color:#6F6F6F;
	font-family:font_link_footer;
	font-size:0.875em;
}

input.submit {
	background-color:#FFFFFF;
	border-color:#C2C2C2;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	box-shadow:0px -4px 8px 0px #D1D1D1 inset;
	color:#333333;
	font-family:font_submit;
	font-size:0.875em;
	height:26px;
	line-height:26px;
	padding:0px 16px;
	text-shadow:1px 1px #DDDDDD;	
}

input.submit:hover {
	background-color:#F2F2F2;
	border-color:#B5B5B5;
}

span.text_description {
	color:#6F6F6F;
	font-family:font_text_description;
	font-size:1em;
}

span.text_clarification {
	color:#3F3F3F;
	font-family:font_text_clarification;
	font-size:0.875em;
}

span.text_footer {
	color:#333333;
	font-family:font_text_footer;
	font-size:0.875em;
}

textarea.textarea_small {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-style:solid;
	border-width:1px;
	color:#B5B5B5;
	font-family:font_textarea;
	resize:none;
}

textarea.textarea_small:focus {
	border-color:#82C5F0;
	box-shadow:0px 0px 8px 0px #82C5F0;
}

textarea.textarea_small:hover {
	border-color:#82C5F0;
}

textarea.textarea_small.set {
	color:#444444;
}

input.textfield {
	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	color:#B5B5B5;
	font-family:font_textfield;
	font-size:0.9375em;
	padding:10px 8px;
}

input.textfield:focus {
	border-color:#82C5F0;
	box-shadow:0px 0px 8px 0px #82C5F0;
}

input.textfield:hover {
	border-color:#82C5F0;
}

input.textfield.error {
	border-color:#FF4A19;
}

input.textfield.error:focus {
	box-shadow:0px 0px 8px 0px #FF4A19;
}

input.textfield.set {
	color:#444444;
}
/*
	Problem, Solution description elements
*/

a.link_user_name {
	color:#983636;
	font-family:font_link_user_name;
	font-size:0.875em;
}

a.link_user_name:hover {
	color:#D84D4D;
	text-decoration:underline;
}

a.link_description {
	color:#333333;
	display:block;
	font-family:font_link_description;
	font-size:2em;
	text-shadow: 0px 0px 1px #999;
}

a.link_description:hover {
	text-shadow: 0px 0px 3px #AAA;
}

.tick {
	display: block; /* for <a> */
	height: 48px;
	background-image: url('../img/tick_off.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.tick.on{
	background-image: url('../img/tick_on.png');
}

div.problems_problem_description {
	background: -webkit-gradient(linear,left bottom,left top, 
		color-stop(0, #E6E6E6),color-stop(0.1, white));
	border-color:#D0D0D0;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	padding:16px;
	margin-bottom:16px;
}

div.problems_votes {
	font-size:16px;
	text-align:center;
}

div.problems_votes .number {
	font-size: 30px;
	color: #8BC7FF;
	text-shadow: 1px 1px #000;
	margin-bottom:8px;
}

/* NEW TOTALLY UNORDERED!! */

.main-container{
	margin-left: 112px;
	padding: 64px 20px 20px 20px;

	background-color:#FFFFFF;
	border-color:#D0D0D0;
	border-style:solid;
	border-width:1px;
	
	box-shadow: 2px 0px 8px rgba(51, 51, 51, 0.4), 
		-2px 0px 8px rgba(51, 51, 51, 0.4);

	border-bottom-style:none;
	
	height: 800px;
}

.fixed-title-wrapper{
	position: fixed;
	right:21px;
	left:133px;
	top: 48px;
	padding-top: 10px;

	background-color:#FFFFFF;
	border-color:#D0D0D0;
	/*border-style:solid;*/
	border-width:1px;

	height: 120px; /* same as stats box */
}

.title-container{
	height: 120px;
	float:left;
	padding: 10px;
}

.statistics{
	float:right;
	width: 300px;
	height: 120px;

	background-color:#FFFFFF;
	/*border: 1px solid gray;*/
	border-radius: 3px;
}

.solution-sidebar{
	position:fixed;
	top: 170px; /* size of the title-container & stats box + top of them */
	bottom:0;
	right:20px;
	width: 300px;
	/*border: 1px solid gray;*/
	border-radius: 3px;
}


.problem-content{
	padding-top: 140px; /* fixed bar height + internal padding */
	padding-right: 320px; /* stats width */
	padding-left: 30px;
	padding-bottom: 10px;

	min-height: 100%;
}

/* Votes */
.votes_container{
	float:left;
	width: 60px;
	text-align: center;
	margin: 5px 10px;
	cursor: pointer;
}
.vote_up{
	height: 30px;
	text-shadow: 0 0 2px gray;
	font-size: 50px;
	padding: 3px;

	color: green;
}
.vote_up:hover{
	text-shadow: 0 0 8px green;
}
.vote_down{
	height: 30px;
	text-shadow: 0 0 2px gray;
	font-size: 70px;
	padding: 3px;

	color: red;
}
.vote_down:hover{
	text-shadow: 0 0 8px red;
}
.votes_number{
	height: 30px;

	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
	padding: 3px;
}

/* user stats */
.user_image_name{

	background: url('../img/anonymous_on.png'); /* translate! */
	background-repeat: no-repeat;
	background-position: left center;

	background-color: black;
	padding-left: 40px;
	width: 200px;
	height: 40px;
	line-height: 40px;
}

.title{
	font-size: 30px;
	line-height: 30px;
	max-width: 750px;
}

/* Notifications */

#notification-panel {
	display: none;
	position: fixed;
	width: 300px;
	height: 500px;
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 0 5px 2px #888;
	z-index:-3;
}

/*
----------------------------------------------------------------------------------------------
	Clarifications
----------------------------------------------------------------------------------------------
*/

#clarifications_main_container {
}

div.clarifications_row_container {
	clear:both;
}

div.clarifications_question_container {
	float:left;
	width:50%;
}

div.clarifications_answer_container {
	float:right;
	width:50%;
}

div.clarifications_column_header {
	text-align:center;
}

div.clarifications_question_content {
	margin:16px 8px 0px 0px;
}

div.clarifications_answer_content {
	margin:16px 0px 0px 8px;
}

textarea.clarifications_answer_textarea {
	float:right;
	font-size:0.875em;
	height:19px;
	line-height:16px;
	max-width:96.2%;
	padding:8px;
	width:100%;
}

div.clarifications_button_container {
	
}

div.clarifications_answer_button {
	float:right;
	margin-top:8px;
}

/*
----------------------------------------------------------------------------------------------
	Header bar
----------------------------------------------------------------------------------------------
*/

a.header_bar_logo {
	background-image:url('../img/logo.png');
	background-position:left center;
	background-repeat:no-repeat;
	height:48px;
	width:98px;
}

#header_bar_sign_container {
	float:right;
}

div.header_bar_button {
	float:right;
	margin:10px 0px 10px 8px;
}

#header_bar_user_name {
	color:#FFFFFF;
	display:block;
	font-size:1.125em;
	text-shadow: 0 0 2px;
}

#header_bar_button_sign_in.clicked {
	background-color:#F1F1F1;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-color:#D0D0D0;
	border-bottom-color:#F1F1F1;
	border-style:solid;
	border-width:1px;
	box-shadow:0px 0px 0px 0px, 0px 0px 0px 0px inset;
}

#header_bar_sign_in_container {
	background-color:#F1F1F1;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border-top-left-radius:8px;
	border-color:#D0D0D0;
	border-top-color:#F1F1F1;
	border-style:solid;
	border-width:1px;
	clear:both;
	display:none;
	float:right;
	margin-top:-10px;
	padding:8px;
	position: fixed;
	top: 45px;
	right: 20px;
}

#toggle_anonymous_mode_button{
	display:block;
	background-image:url('../img/anonymous_off.png');
	background-position: center center;
	background-repeat:no-repeat;
	height:28px;
	width:28px;
	margin-top: -5px;	
}
#toggle_anonymous_mode_button.on{
	background-image:url('../img/anonymous_on.png');
}

/*
----------------------------------------------------------------------------------------------
	Information footer
----------------------------------------------------------------------------------------------
*/

#information_footer_main_container {
	box-shadow:0px -1px 2px 0px #A8A8A8;
	width:100%;
}

#information_footer_central_container {
	margin:0px 128px;
	min-width:1024px;
}

#information_footer_logo_extended_container {
	float:left;
}

#information_footer_logo_extended {
	background-image:url('../img/logo_extended.png');
	background-position:left center;
	background-repeat:no-repeat;
	height:206px;
	width:416px;
}

#information_footer_link_container {
	float:right;
}

div.information_footer_column_container {
	float:right;
	width:192px;
}

div.information_footer_column_header {
	line-height:32px;
	margin-top:16px;
}

div.information_footer_link {
	line-height:32px;
}


/*
----------------------------------------------------------------------------------------------
	Navigation menu
----------------------------------------------------------------------------------------------
*/
#navigation_menu{
	position:fixed;
	left: 20px;
	top: 60px;
}

#navigation_menu_main_container {
	left:16px;
	position:fixed;
	top:48px;
}

a.navigation_menu_button {
	margin-bottom:16px;
}

#navigation_menu_problems_button {
	background-image:url('../img/problems_off.png');
	background-position:center center;
	background-repeat:no-repeat;
}

#navigation_menu_problems_button:hover {
	background-image:url('../img/problems_on.png');
	box-shadow:0px 0px 64px 0px #FFF857 inset;
}

#navigation_menu_problems_button.active {
	background-image:url('../img/problems_on.png');
	background-position:center center;
	background-repeat:no-repeat;
	box-shadow:0px 0px 64px 0px #FFF857 inset;
}

#navigation_menu_ideas_button {
	background-image:url('../img/ideas_off.png');
	background-position:center center;
	background-repeat:no-repeat;
}

#navigation_menu_ideas_button:hover {
	background-image:url('../img/ideas_on.png');
	box-shadow:0px 0px 64px 0px #EAE1B5 inset;
}

#navigation_menu_ideas_button.active {
	background-image:url('../img/ideas_on.png');
	background-position:center center;
	background-repeat:no-repeat;
	box-shadow:0px 0px 64px 0px #EAE1B5 inset;
}

#navigation_menu_profile_button {
	background-image:url('../img/profile_off.png');
	background-position:center center;
	background-repeat:no-repeat;
}

#navigation_menu_profile_button:hover {
	background-image:url('../img/profile_on.png');
	box-shadow:0px 0px 64px 0px #CCEACD inset;
}

#navigation_menu_profile_button.active {
	background-image:url('../img/profile_on.png');
	background-position:center center;
	background-repeat:no-repeat;
	box-shadow:0px 0px 64px 0px #CCEACD inset;
}


/*
----------------------------------------------------------------------------------------------
	Sign in form
----------------------------------------------------------------------------------------------
*/

input.sign_in_textfield {
	margin-top:8px;
	width:256px;
}

#sign_in_submit {
	float:right;
	margin-top:8px;
}


/*
----------------------------------------------------------------------------------------------
	Sign up form
----------------------------------------------------------------------------------------------
*/

input.sign_up_textfield {
	margin-top:8px;
	width:320px;
}

select.sign_up_dropdownlist {
	margin-top:8px;
	width:338px;
}

#sign_up_submit {
	float:right;
	margin-top:8px;
}


/*
----------------------------------------------------------------------------------------------
	Toolbar (Problems)
----------------------------------------------------------------------------------------------
*/

#toolbar_problems_container {
}

div.toolbar_problems_button {
	float:left;
	margin-right:16px;
}

#toolbar_problems_new_problem_button {
	padding-left: 40px;
	background-image:url('../img/new_problem_off.png');
	background-position:left center;
	background-repeat:no-repeat;
}

#toolbar_problems_new_problem_button:hover {
	background-image:url('../img/new_problem_on.png');
}


/*
----------------------------------------------------------------------------------------------
	Toolbar (Problem)
----------------------------------------------------------------------------------------------
*/

#toolbar_problem_container {
	
}

a.toolbar_problem_button {
	float:left;
	margin-right:16px;
}

#toolbar_problem_new_solution_button {
	background-image:url('../img/new_solution_off.png');
	background-position:left center;
	background-repeat:no-repeat;
}

#toolbar_problem_new_solution_button:hover {
	background-image:url('../img/new_solution_on.png');
}


/*
----------------------------------------------------------------------------------------------
	Toolbar (Solution)
----------------------------------------------------------------------------------------------
*/

#toolbar_solution_container {
	
}

div.toolbar_solution_button {
	float:left;
	margin-right:16px;
}

#toolbar_solution_go_back_button {
	background-image:url('../img/go_back_off.png');
	background-position:left center;
	background-repeat:no-repeat;
}

#toolbar_solution_go_back_button:hover {
	background-image:url('../img/go_back_on.png');
}
