
/* Debugging

div {
  border-color:Red;
  border-style:solid;
  border-width:1px;
}

*/


/*
----------------------------------------------------------------------------------------------
	Fonts
----------------------------------------------------------------------------------------------
*/

@font-face {
	font-family: font_default;
	src:
		local(Arial),
		local(Haettenschweiler),
		local("Franklin Gothic Bold"),
		local(Charcoal),
		local("Helvetica Inserat");
}


/*
----------------------------------------------------------------------------------------------
	Global
----------------------------------------------------------------------------------------------
*/

* {
	font-family: font_default;
	margin: 0px;
	outline-style: none;
	outline-width: 0px;
	padding: 0px;
}

a, a:active, a:hover, a:visited {
	cursor: pointer;
	text-decoration: none;
}


/*
----------------------------------------------------------------------------------------------
	Other
----------------------------------------------------------------------------------------------
*/

#main-container {
	background-color: #FFFFFF;
	border-color: #D0D0D0;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	box-shadow: 2px 0px 8px rgba(51, 51, 51, 0.4), -2px 0px 8px rgba(51, 51, 51, 0.4);
	
	/*height: 100%;
	min-height: 100%;*/
	margin: 0px 20px;
	padding: 0px 20px;
	
	overflow: hidden;
}

#main-container.narrow {
	margin-left: 132px;
}

.header-bar-padding {
	padding-top: 68px;
}

#header-bar-logo {
	background-image: url('../img/logo.png');
	background-position: left center;
	background-repeat: no-repeat;
	height: 48px;
	width: 98px;
}

#notification-container-content {
	display: none;
}

#notification-main-container {
	max-height: 384px;
	width: 300px;
	overflow-y: auto;
}

#notification-container {
}

#sign-in-container {
	background-color: #F1F1F1;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-color: #D0D0D0;
	border-top-color: #F1F1F1;
	border-style: solid;
	border-width: 1px;
	clear: both;
	display: none;
	float: right;
	margin-top: -10px;
	padding: 8px;
	position: fixed;
	top: 45px;
	right: 20px;
}
