
/*
----------------------------------------------------------------------------------------------
	Toolbar
----------------------------------------------------------------------------------------------
*/

div.pci_toolbar_main_container {
	clear:both;
	overflow:hidden;
}

div.pci_toolbar_button {
	float:left;
	margin-right:16px;
}

#pci_toolbar_new_problem_button {
	background-image:url('../img/new_problem_grayscale.png');
	background-position:center center;
	background-repeat:no-repeat;
}

#pci_toolbar_new_problem_button:hover {
	background-image:url('../img/new_problem_color.png');
	box-shadow:0px 0px 64px 0px #FFF857 inset;
}

#pci_toolbar_new_problem_button.active {
	background-image:url('../img/new_problem_color.png');
	background-position:center center;
	background-repeat:no-repeat;
	box-shadow:0px 0px 64px 0px #FFF857 inset;
}
